In [1]:
import pandas as pd

In [2]:
pd.read_json('population_data.json')

      Country Name Country Code  Year        Value
0       Arab World          ARB  1960   96388069.0
1       Arab World          ARB  1961   98882541.4
2       Arab World          ARB  1962  101474075.8
3       Arab World          ARB  1963  104169209.2
4       Arab World          ARB  1964  106978104.6
...            ...          ...   ...          ...
12402     Zimbabwe          ZWE  2006   12529655.0
12403     Zimbabwe          ZWE  2007   12481245.0
12404     Zimbabwe          ZWE  2008   12451543.0
12405     Zimbabwe          ZWE  2009   12473992.0
12406     Zimbabwe          ZWE  2010   12571000.0

[12407 rows x 4 columns]

In [3]:
pd.read_json('population_data.json').head()

  Country Name Country Code  Year        Value
0   Arab World          ARB  1960   96388069.0
1   Arab World          ARB  1961   98882541.4
2   Arab World          ARB  1962  101474075.8
3   Arab World          ARB  1963  104169209.2
4   Arab World          ARB  1964  106978104.6

In [4]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.0404
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.6950
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.8990
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,4.1500
...,...,...,...,...,...,...,...
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,2.6200
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.1760
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.2080
ZWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.2810
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2026-02-25,1771977601,0.2810

In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 74.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-linux_x86_64.whl size=247950 sha256=1221e11e14bae73ea97311ac741f81c1ec92b54781f5fa43961dfb4be22a911a
  Stored in directory: /root/.cache/pip/wheels/03/17/fa/d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [6]:
import mysql.connector

In [8]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

To connect to a remote MySQL database, you need to replace `'localhost'` with the actual IP address or hostname of your remote MySQL server and ensure you have the correct credentials and database name. You might also need to specify the port if it's not the default `3306`.

Here's an example of how you would modify your connection code:

In [14]:
import mysql.connector

# IMPORTANT: Replace these with your actual remote database credentials and host
# You MUST change 'YOUR_REMOTE_MYSQL_HOST' to the actual IP address or hostname of your MySQL server.
# For example: remote_db_host = '192.168.1.100' or remote_db_host = 'your.database.com'
remote_db_host = 'YOUR_REMOTE_MYSQL_HOST'
remote_db_user = 'YOUR_REMOTE_MYSQL_USER' # Your MySQL username
remote_db_password = 'YOUR_REMOTE_MYSQL_PASSWORD' # Your MySQL password
remote_db_name = 'YOUR_REMOTE_MYSQL_DATABASE' # The name of your database
# remote_db_port = 3306 # Uncomment and change if your port is different from 3306

try:
    conn = mysql.connector.connect(
        host=remote_db_host,
        user=remote_db_user,
        password=remote_db_password,
        database=remote_db_name
        # port=remote_db_port # Uncomment if you specified a custom port
    )
    if conn.is_connected():
        print(f"Successfully connected to remote MySQL database: {remote_db_name} on {remote_db_host}")
        # You can now proceed with your database operations, e.g.:
        # cursor = conn.cursor()
        # cursor.execute("SELECT VERSION();")
        # db_version = cursor.fetchone()
        # print(f"Database version: {db_version[0]}")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    print("Please ensure the host, user, password, and database name are correct, and that your remote MySQL server is accessible from this environment.")
finally:
    # Only close the connection if it was successfully established and is still open
    if 'conn' in locals() and conn is not None and conn.is_connected():
        conn.close()
        print("MySQL connection closed.")

Error: 2003: Can't connect to MySQL server on 'YOUR_REMOTE_MYSQL_HOST:3306' (-2 Name or service not known)
Please ensure the host, user, password, and database name are correct, and that your remote MySQL server is accessible from this environment.

In [15]:
df = pd.read_sql_query("SELECT * FROM populationn_data",conn)

NameError: name 'conn' is not defined

In [16]:
df

NameError: name 'df' is not defined