In [1]:
import pandas as pd
import requests

In [8]:
df=pd.read_csv('crime.csv')

In [9]:
df.head()

   Year  Population  Murder  Rape  Robbery  Assault  Burglary  CarTheft
0  1965    18073000     836  2320    28182    27464    183443     58452
1  1966    18258000     882  2439    30098    29142    196127     64368
2  1967    18336000     996  2665    40202    31261    219157     83775
3  1968    18113000    1185  2527    59857    34946    250918    104877
4  1969    18321000    1324  2902    64754    36890    248477    115400

In [10]:
df = pd.DataFrame()

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.433,8.7,2763
1,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,8.439,8.7,1223
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,65.570,8.7,18637
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,63.277,8.7,14052
4,761053,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,2020-11-19,26.691,8.7,773
...,...,...,...,...,...,...,...
8546,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",2008-08-29,14.630,3.2,714
8547,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",2000-05-12,10.647,3.0,543
8548,14164,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,2009-03-12,32.244,2.8,1447
8549,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,14.502,2.8,238
8550,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,9.824,2.2,215

In [12]:
df.shape

(0, 0)

In [14]:
temp_df.to_csv('movies.csv')

In [18]:
df=pd.read_csv('movies.csv')
df

Empty DataFrame
Columns: [Unnamed: 0]
Index: []